$icons : (
        Hearts : (
            // Regex: (?:U\+)(.*)\n\n(.*)\n.*\n\n(.*)
                HeartLegacy: '\e006', //Outlined heart
                HeartFillLegacy: '\e0a5', //Solid heart
                HeartBrokenLegacy: '\e007', //Broken heart
                HeartFillZeroWidthLegacy: '\e00b', //Solid heart (zero width)
                HeartBrokenZeroWidthLegacy: '\e00c', //Broken heart (zero width)
        ),
        RatingStars : (
            // Regex: (?:U\+)(\S*)\s(?:\S*)\s(\S*)\s(.*)
                RatingStarLegacy: '\e224', //Outlined star
                RatingStarFillLegacy: '\e0b4', //Solid star
                RatingStarFillZeroWidthLegacy: '\e00a', //Solid star (zero width)
                RatingStarFillReducedPaddingHTMLLegacy: '\e082', //Solid star (reduced padding for use in HTML)
                RatingStarFillSmallLegacy: '\e0b5', //Small star
                HalfStarLeft: '\e7c6', //Half star, left side
                HalfStarRight: '\e7c7', //Half star, right side
        ),
        Checkbox : (
            // Regex: (?:U\+)(\S*)\s(?:\S*)\s(\S*)\s(.*)
                CheckMarkLegacy: '\e001', //Check mark
                CheckboxFillLegacy: '\e002', //Filled checkbox
                CheckboxLegacy: '\e003', //Checkbox
                CheckboxIndeterminateLegacy: '\e004', //Indeterminate state
                CheckboxCompositeReversedLegacy: '\e005', //Reversed
                CheckMarkZeroWidthLegacy: '\e008', //Check mark (zero width)
                CheckboxFillZeroWidthLegacy: '\e009', //Fill (zero width)
                CheckboxCompositeLegacy: '\e0a2', //Composite
                Checkbox: '\e739', //Checkbox
                CheckboxComposite: '\e73a', //Composite checkbox
                CheckboxFill: '\e73b', //Filled checkbox
                CheckboxIndeterminate: '\e73c', //Indeterminate state
                CheckboxCompositeReversed: '\e73d', //Reversed composite
                CheckMark: '\e73e', //Check mark
        ),
        Misc : (
            // Regex: U\+(\S+)\s+\S+\s(\S+)\t*(.*)
                CommentLegacy: '\e134', //Comment
                FavoriteLegacy: '\e113', //
                UnfavoriteLegacy: '\e195', //
                FavoriteStar: '\e734', //Favorite outlined
                FavoriteStarFill: '\e735', //
                Unfavorite: '\e8d9', //
                LikeLegacy: '\e19f', //
                DislikeLegacy: '\e19e', //
                LikeDislikeLegacy: '\e19d', //
                VideoLegacy: '\e116', //
                Video: '\e714', //
                MailMessageLegacy: '\e20b', //Mail legacy
                ReplyLegacy: '\e248', //Reply
                Favorite2Legacy: '\e249', //Favorite filled
                Unfavorite2Legacy: '\e24a', //Unfavorite
                MobileContactLegacy: '\e25a', //Mobile contact
                BlockedLegacy: '\e25b', //Blocked contact
                TypingIndicatorLegacy: '\e25c', //Typing indicator
                PresenceChickletVideoLegacy: '\e25d', //Video presence chicklet
                PresenceChickletLegacy: '\e25e', //Presence chicklet
        ),
        ScrollArrows : (
            // Regex: U\+(\S+)\s+\S+\s(\S+)\t*(.*)
                ScrollChevronLeftLegacy: '\e00e',
                ScrollChevronRightLegacy: '\e00f',
                ScrollChevronUpLegacy: '\e010',
                ScrollChevronDownLegacy: '\e011',
                ScrollChevronLeftBoldLegacy: '\e016',
                ScrollChevronRightBoldLegacy: '\e017',
                ScrollChevronUpBoldLegacy: '\e018',
                ScrollChevronDownBoldLegacy: '\e019',
        ),
        BackButtons : (
            // Regex: U\+(\S+)\s+\S+\s(\S+)\t*(.*)
                BackBttnArrow20Legacy: '\e0c4', //Back button arrow, 20pt
                BackBttnArrow42Legacy: '\e0a6', //Back button arrow, 42pt
                BackBttnMirroredArrow20Legacy: '\e0ad', //Mirrored back button arrow reversed, 20pt
                BackBttnMirroredArrow42Legacy: '\e0ab', //Mirrored back button arrow reversed, 42pt
                ChromeBack: '\e830', //Chrome back button
                ChromeBackMirrored: '\ea47', //Chrome back mirrored button
        ),
        HTMLArrows : (
            // Regex: U\+(\S+)\s+\S+\s(\S+)\t*(.*)
                ArrowHTMLLegacy: '\e0d5', //Arrow for HTML use
                ArrowHTMLMirroredLegacy: '\e0ae', //Mirrored version of U+E0D5
        ),
        AppBar : (
            // Regex: U\+(\S+)\s+\S+\s(\S+)\t*(.*)
                Accept: '\e8fb',
                Accounts: '\e910',
                Add: '\e710',
                AddFriend: '\e8fa',
                Admin: '\e7ef',
                AlignCenter: '\e8e3',
                AlignLeft: '\e8e4',
                Alignright: '\e8e2',
                AllApps: '\e71d',
                Attach: '\e723',
                AttachCamera: '\e8a2',
                Audio: '\e8d6',
                Back: '\e72b',
                BackToWindow: '\e73f',
                BlockContact: '\e8f8',
                Bold: '\e8dd',
                Bookmarks: '\e8a4',
                BrowsePhotos: '\e7c5',
                BulletedList: '\e8fd',
                Calculator: '\e8ef',
                Calendar: '\e787',
                CalendarDay: '\e8bf',
                CalendarReply: '\e8f5',
                CalendarWeek: '\e8c0',
                Camera: '\e722',
                Cancel: '\e711',
                Caption: '\e8ba',
                CC: '\e7f0',
                Cellphone: '\e8ea',
                Characters: '\e8c1',
                Clear: '\e894',
                ClearSelection: '\e8e6',
                ClosePane: '\e89f',
                Cloud: '\e753',
                Comment: '\e90a',
                Contact: '\e77b',
                Contact2: '\e8d4',
                ContactInfo: '\e779',
                ContactPresence: '\e8cf',
                Copy: '\e8c8',
                Crop: '\e7a8',
                Cut: '\e8c6',
                Delete: '\e74d',
                Directions: '\e8f0',
                DisableUpdates: '\e8d8',
                DisconnectDrive: '\e8cd',
                Dislike: '\e8e0',
                DockBottom: '\e90e',
                DockLeft: '\e90c',
                DockRight: '\e90d',
                Document: '\e8a5',
                Download: '\e896',
                Edit: '\e70f',
                Emoji: '\e899',
                Emoji2: '\e76e',
                FavoriteList: '\e728',
                FavoriteStar: '\e734',
                FavoriteStarFill: '\e735',
                Filter: '\e71c',
                FindLegacy: '\e11a',
                Flag: '\e7c1',
                Folder: '\e8b7',
                Font: '\e8d2',
                Fontcolor: '\e8d3',
                FontDecrease: '\e8e7',
                FontIncrease: '\e8e8',
                FontSize: '\e8e9',
                Forward: '\e72a',
                FourBars: '\e908',
                FullScreen: '\e740',
                Globe: '\e774',
                Go: '\e8ad',
                GoToStart: '\e8fc',
                GoToToday: '\e8d1',
                Hamburger: '\e700',
                Hangup: '\e778',
                Help: '\e897',
                HideBCC: '\e8c5',
                Highlight: '\e7e6',
                Home: '\e80f',
                Import: '\e8b5',
                ImportAll: '\e8b6',
                Important: '\e8c9',
                Italic: '\e8db',
                KeyboardClassic: '\e765',
                LeaveChat: '\e89b',
                Library: '\e8f1',
                Like: '\e8e1',
                LikeDislike: '\e8df',
                Link: '\e71b',
                List: '\ea37',
                Location: '\e81d',
                Mail: '\e715',
                MailFill: '\e8a8',
                MailForward: '\e89c',
                MailReply: '\e8ca',
                MailReplyAll: '\e8c2',
                Manage: '\e912',
                MapDrive: '\e8ce',
                Mappin: '\e707',
                Memo: '\e77c',
                Message: '\e8bd',
                Microphone: '\e720',
                More: '\e712',
                MoveToFolder: '\e8de',
                MusicInfo: '\e90b',
                Mute: '\e74f',
                NewFolder: '\e8f4',
                NewWindow: '\e78b',
                Next: '\e893',
                OneBar: '\e905',
                OpenFile: '\e8e5',
                OpenLocal: '\e8da',
                OpenPane: '\e8a0',
                OpenWith: '\e7ac',
                Orientation: '\e8b4',
                OtherUser: '\e7ee',
                OutlineStarLegacy: '\e1ce',
                Page: '\e7c3',
                Paste: '\e77f',
                Pause: '\e769',
                People: '\e716',
                Permissions: '\e8d7',
                Phone: '\e717',
                PhoneBook: '\e780',
                Pin: '\e718',
                Play: '\e768',
                PostUpdate: '\e8f3',
                Preview: '\e8ff',
                PreviewLink: '\e8a1',
                Previous: '\e892',
                Priority: '\e8d0',
                ProtectedDocument: '\e8a6',
                Read: '\e8c3',
                Redo: '\e7a6',
                Refresh: '\e72c',
                Remote: '\e8af',
                Remove: '\e738',
                Rename: '\e8ac',
                Repair: '\e90f',
                RepeatAll: '\e8ee',
                RepeatOne: '\e8ed',
                ReportHacked: '\e730',
                Reshare: '\e8eb',
                Rotate: '\e7ad',
                RotateCamera: '\e89e',
                Save: '\e74e',
                SaveLocal: '\e78c',
                Scan: '\e8fe',
                SelectAll: '\e8b3',
                Send: '\e724',
                SetLockScreen: '\e7b5',
                SetTile: '\e97b',
                Settings: '\e713',
                Share: '\e72d',
                Shop: '\e719',
                ShowBCC: '\e8c4',
                ShowResults: '\e8bc',
                Shuffle: '\e8b1',
                Slideshow: '\e786',
                SolidStarLegacy: '\e1cf',
                Sort: '\e8cb',
                Stop: '\e71a',
                Street: '\e913',
                Switch: '\e8ab',
                SwitchApps: '\e8f9',
                Sync: '\e895',
                SyncFolder: '\e8f7',
                Tag: '\e8ec',
                ThreeBars: '\e907',
                TouchPointer: '\e7c9',
                Trim: '\e78a',
                TwoBars: '\e906',
                TwoPage: '\e89a',
                Underline: '\e8dc',
                Undo: '\e7a7',
                UnFavorite: '\e8d9',
                UnPin: '\e77a',
                UnSyncFolder: '\e8f6',
                Up: '\e74a',
                Upload: '\e898',
                VideoChat: '\e8aa',
                View: '\e890',
                ViewAll: '\e8a9',
                Volume: '\e767',
                Webcam: '\e8b8',
                World: '\e909',
                ZeroBars: '\e904',
                Zoom: '\e71e',
                ZoomIn: '\e8a3',
                ZoomOut: '\e71f',
        ),
        Battery : (
            // Regex: \s(E.{3})\s\S+\s(\S+)
                BatteryUnknown: '\e996',
                Battery0: '\e850',
                Battery1: '\e851',
                Battery2: '\e852',
                Battery3: '\e853',
                Battery4: '\e854',
                Battery5: '\e855',
                Battery6: '\e856',
                Battery7: '\e857',
                Battery8: '\e858',
                Battery9: '\e859',
                Battery10: '\e83f',
                BatteryCharging0: '\e85a',
                BatteryCharging1: '\e85b',
                BatteryCharging2: '\e85c',
                BatteryCharging3: '\e85d',
                BatteryCharging4: '\e85e',
                BatteryCharging5: '\e85f',
                BatteryCharging6: '\e860',
                BatteryCharging7: '\e861',
                BatteryCharging8: '\e862',
                BatteryCharging9: '\e83e',
                BatteryCharging10: '\ea93',
                BatterySaver0: '\e863',
                BatterySaver1: '\e864',
                BatterySaver2: '\e865',
                BatterySaver3: '\e866',
                BatterySaver4: '\e867',
                BatterySaver5: '\e868',
                BatterySaver6: '\e869',
                BatterySaver7: '\e86a',
                BatterySaver8: '\e86b',
                BatterySaver9: '\ea94',
                BatterySaver10: '\ea95',
        ),
)
